<h1>New Recipe</h1>

	
	
		<%= bootstrap_form_for(@recipe) do |f| %>

				<%= f.text_field :name %>
				<%= f.text_field :prep_time, label: "Prep Time (in minutes)" %>
				<%= f.text_area :instructions %>
				<%= f.submit %>

		<% end %>

	

<%= link_to 'Back', recipes_path %>
