<p id="notice"><%= notice %></p>

<p>
  <h1><%= @recipe.name %></h1>
</p>

<p>
  <strong>Prep time</strong> (in minutes)<strong>:</strong>
  <%= @recipe.prep_time %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>

<p>
  <%= image_tag("upvote.jpg", style: "height: 10px; width: 10px;") %> <%= @recipe.upvotes %>
</p>

<p>
  <%= link_to 'like', upvote_recipe_url(@recipe.id), method: :put %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
